@prefixCls: 'kawhi';
@prefixClsDivider: ~'@{prefixCls}-divider';

.@{prefixClsDivider} {
  border-block-start: 1px solid rgba(5, 5, 5, 0.1);
  margin: 16px 0;

  &-dashed {
    border-block-start: 1px dashed rgba(5, 5, 5, 0.1);
  }

  &-with-text {
    display: flex;
    align-items: center;
    border-block-start: 0px solid rgba(5, 5, 5, 0.1);

    &::before {
      border-block-start: 1px solid rgba(5, 5, 5, 0.1);
      content: '';
      width: 50%;
      border-block-start-color: inherit;
      border-block-end: 0;
    }

    &::after {
      border-block-start: 1px solid rgba(5, 5, 5, 0.1);
      content: '';
      width: 50%;
      border-block-start-color: inherit;
      border-block-end: 0;
    }

    &-left {
      &::before {
        width: 10%;
      }
      &::after {
        width: 90%;
      }
    }

    &-right {
      &::before {
        width: 90%;
      }
      &::after {
        width: 10%;
      }
    }
  }

  &-inner-text {
    display: inline-block;
    padding: 0 0.5rem;
    white-space: nowrap;
  }
}
